{% extends 'base.html' %}
{% load static %}
{% block custom %}
<script type="text/javascript">
    function startTestCheck() {
        var chkbtn = document.getElementById('tandcCheck');
        if (chkbtn.checked) {
            document.getElementById('start-btn').disabled = false;
        }
        else {
            document.getElementById('start-btn').disabled = true;

        }
    }
</script>
{% endblock %}
{% block title %}T&C{% endblock %}

{% block content %} 
        <div class="container vertical-center" style="border: 1px solid; border-radius: 10px; margin-top: 5%; padding: 20px;">
            <h4 class="heading text-center"> <u> Terms and Conditions </u> </h4>
            <div>
                <ol type="1">
                    <li>{{tid}}</li>
                    <li> The duration of the test is {} hours</li>
                    <li> The Webcam and Mic should not be turned off during the course of the test </li>
                    <li> Impersonation is considered as a serious malpractice. You might be banned from taking further tests.</li>
                    <li> Make sure that only you are present in the frame. Presence of any other person amounts to malpractice would lead to the closing of the test. </li>
                    <li> Ensure there isn't noise distractions in the background. </li>
                </ol>
                <input type="checkbox" id="tandcCheck" style="margin-left: 20px;" onclick="startTestCheck()">  I Agree to the Terms and Conditions <br/>
            </div>
            <div class="text-center">
            <button type="submit" class="btn btn-primary" id="start-btn" disabled> <a href="{% url 'test' tid=tid %}">Start test</a> </button>
            </div>
        </div>
{% endblock %}
