<html>

<head>
    <title> SmartHire | Candidate Profile </title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="assets/candidate.css">
    <script src="assets/candidate.js"></script>

    <script>
        function showUploadDiv() {
            var uploadBox = document.getElementById('upload-box');
            if (uploadBox.style.display == 'none')
                uploadBox.style.display = 'block';
            else
                uploadBox.style.display = 'none';
        }
    </script>
</head>

<body style="overflow-x: hidden;">
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
        <div style="font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; color: white;">
            <h4> SmartHire </h4>
        </div>
        <ul class="navbar-nav ml-auto">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                    <i class="fa fa-user-circle-o" aria-hidden="true"></i>
                    You
                </a>
                <div class="dropdown-menu dropdown-menu-right">
                    <a class="dropdown-item" href="#"> <i class="fa fa-bell" aria-hidden="true"></i> Notifications</a>
                    <a class="dropdown-item" href="#"> <i class="fa fa-user" aria-hidden="true"></i> Profile </a>
                    <a class="dropdown-item" href="#"> <i class="fa fa-sign-out" aria-hidden="true"></i> Sign out </a>
                </div>
            </li>
        </ul>
    </nav>
    <br />

    <div class="container">
        <img style="max-height:200px; max-width:200px; object-fit:cover;"
            src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcRUVtRA2izvCkOG0ShGfHI_OCQ8liGbjn_HEw&usqp=CAU"
            class="rounded-circle mx-auto d-block" alt="Cinque Terre">
        <div class="row">
            <div class="col-sm"></div>
            <div class="col-sm-3 text-center span-heading-effect" name="candidate-name">
                <h4> Kaipulla Varadarajan </h4>
            </div>
            <div class="col-sm"></div>
        </div> <br />

        <div class="row text-center p-2 mb-3 text-white text-center">
            <div class="col-sm-3"></div>
            <div class="col-sm-2 bg-dark" name="degree"> Computer Science and Engineering </div>
            <div class="col-sm-2 bg-light text-dark" name="institution"> Vellore Institute of Technology, Chennai</div>
            <div class="col-sm-2 bg-dark" name="short-description"> Looking for an ML internship </div>
            <div class="col-sm-3"></div>
        </div>

        <div class="row">
            <div class="col-sm-3"></div>
            <!-- Present Resume -->
            <button style="padding-top:5px" class="col-sm-3 bg-light text-dark text-center">
                <label for="existing-resume"> Download your resume </label>
                <i class="fa fa-download" aria-hidden="true"></i>
            </button>

            <!-- New Resume -->
            <button style="padding-top:5px" class="col-sm-3 bg-light text-dark text-center" onclick="showUploadDiv()">
                <label for="existing-resume"> Update resume </label>
                <i class="fa fa-upload" aria-hidden="true"></i>
            </button>

            <div class="col-sm-3"></div>
        </div>

        <!-- Upload New Resume -->
        <div class="row" style="margin-top: 20px;">
            <div class="col-sm-3"></div>
            <div class="col-sm-6 bg-light border border-rounded border-secondary" id="upload-box"
                style="display: none;">
                <div style="padding-top: 10px;"> <i class="fa fa-upload" aria-hidden="true"> </i> <label
                        for="upload-resume">
                        <h6> Upload Resume: </h6>
                    </label> </div>
                <form>
                    <div class="custom-file">
                        <input type="file" class="custom-file-input" id="resume" name="candidate-resume"
                            onchange="$('#upload').html(this.files[0].name)">
                        <label class="custom-file-label text-truncate" id="upload" for="upload-resume">Choose
                            file</label>
                    </div>

                    <div style="margin-top:15px" class="text-center"> <button class="btn btn-dark"> Upload Resume
                        </button> </div>
                </form>
            </div>
            <div class="col-sm-3"></div>
        </div>

    </div>
</body>

</html>