{% extends 'base.html' %}
{% load static %}
{% block custom %}
<link rel="stylesheet" type="text/css" href='{% static "assets/candidate.css" %}'>
<script>
    function showUploadDiv() {
        var uploadBox = document.getElementById('upload-box');
        if (uploadBox.style.display == 'none')
            uploadBox.style.display = 'block';
        else
            uploadBox.style.display = 'none';
    }
</script>
{% endblock %}

{% block content %}
    <div class="container">
        <img style="max-height:200px; max-width:200px; object-fit:cover;"
            src="{{profile.photo}}"
            class="rounded-circle mx-auto d-block" alt="Cinque Terre">
        <div class="row">
            <div class="col-sm"></div>
            <div class="col-sm-3 text-center span-heading-effect" name="candidate-name">
                <h4> {{user.username}} {{user.email}} {{profile.address}} </h4>
            </div>
            <div class="col-sm"></div>
        </div> <br />

        <div class="row text-center p-2 mb-3 text-white text-center">
            <div class="col-sm-3"></div>
            <div class="col-sm-2 bg-dark" name="degree"> Computer Science and Engineering </div>
            <div class="col-sm-2 bg-light text-dark" name="institution"> Vellore Institute of Technology, Chennai</div>
            <div class="col-sm-2 bg-dark" name="short-description"> Looking for an ML internship </div>
            <div class="col-sm-3"></div>
        </div>

    </div>
{% endblock %}
