.dropdown-item:hover{
    background-color: #d1cfcb;
}

.span-heading-effect{
    border: 1px solid black;
    border-radius: 5px;
    padding: 5px;
}

.radio-inline{
    padding: 5px;
}
.form-group > .radio-inline:hover{
    background-color: white;
    color:black;
}

.nav-pills .pill-1 .nav-link:not(.active) {
    background-color: white;
    color:  #292b2c ;
}
.nav-pills .pill-2 .nav-link:not(.active) {
    background-color: white;
    color:  #292b2c ;
}
.nav-pills .pill-3 .nav-link:not(.active) {
    background-color: white;
    color:  #292b2c ;
}
/* active (faded) */
.nav-pills .pill-1 .nav-link{
    background-color:  #292b2c ;
    color: white;
}
.nav-pills .pill-2 .nav-link{
    background-color:  #292b2c ;
    color: white;
}

.nav-pills .pill-3 .nav-link{
    background-color:  #292b2c ;
    color: white;
}

.test-item{
    position: relative;
    border:1px solid;
    border-radius: 6px;
    margin-top:20px;
    margin-bottom: 20px;
}

.test-name{
    padding:5px;
}

.test-metadata{
    font-size:16px;
    padding: 5px;
}

.enter-test{
    height: 60%;
    margin: auto;
}